.row {
  &--t-padding {
    padding-top: 80px;
  }
  @mixin atMedium {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &--gutters {
      column-gap: 65px;
    }
    &--gutters-large {
      column-gap: 65px;
    }
    &--gutters-small {
      column-gap: 65px;
    }
    &--large-1,
    &--large-2,
    &--large-3,
    &--large-4,
    &--large-5,
    &--large-6,
    &--large-7,
    &--large-8,
    &--large-9,
    &--large-10,
    &--large-11,
    &--large-12 {
      grid-column: span 12;
    }
    &--medium-4 {
      grid-column: span 4;
    }
    &--medium-8 {
      grid-column: span 8;
    }

    &--medium-6 {
      grid-column: span 6;
    }

    &--b-margin-until-medium {
      margin-bottom: 0;
    }
  }

  @mixin atLarge {
    &--large-4 {
      grid-column: span 4;
    }
    &--large-8 {
      grid-column: span 8;
    }

    &--medium-6 {
      grid-column: span 6;
    }

    &--b-margin-until-medium {
      margin-bottom: 0;
    }
  }

  &--b-margin-until-medium {
    margin-bottom: 1rem;
  }

  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @mixin atLarge {
      & > div {
        display: flex;
      }
    }
  }
}
