.site-header {
  padding: 10px 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  @mixin atMedium {
    background-color: rgba(47, 85, 114, 0.3);
  }
  &--btn-container {
    float: right;
  }
  &--logo {
    position: absolute;
    top: 0;
    background-color: #2f5572;
    padding: 13px 29px;
    left: 50%;
    transform: translateX(-50%);

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
      padding: 25px 35px;
    }
  }

  &--menu-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      display: none;
    }
  }
  &--menu-content {
    display: none;
    @mixin atMedium {
      display: block;
    }
  }
}
